<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" style="padding: 10px 30px 0 35px;">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
            Official Leave
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Human Resources
              </span>
            </a>
          </li>
          <li class="m-nav__separator">
            -
          </li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">
                Official Leave
              </span>
            </a>
          </li>
        </ul>
      </div>
      </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content" style="width:100%;">
    <div class="alert alert-brand m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert" style="margin-bottom: 10px !important;background-color:#d5d2f1;    width: 100%;">
  
      <div class="m-alert__text" style="color: black;font-weight: 400;">
          Official Leave
      </div>
    </div>
    <!--begin::Portlet-->
    <!--Begin Datatable-->
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head" style="height: 4.1rem;">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              <i class="flaticon-calendar"></i>
              Official Leave
            </h3>
          </div>
        </div>
        
      </div>
      <div class="m-portlet__body">
        <!--begin: Datatable -->
        <div class="m_datatable" id="holidays_data"></div>
        <!--end: Datatable -->
      </div>
    </div>
   
  </div>
  
  
  