<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="" style="padding: 10px 30px 0 35px;">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Internet Access Request
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							IT Request
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Approve Internet Access Request
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" style="width:100%;">
	<div class="alert alert-brand m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert" style="margin-bottom: 10px !important;background-color:#d5d2f1;    width: 100%;">

		<div class="m-alert__text" style="color: black;font-weight: 400;">
			Internet Access requests
		</div>
	</div>
	<!--begin::Portlet-->
	<!--Begin Datatable-->
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head" style="height: 4.1rem;">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						<i class="fa fa-firefox"></i>
						  Internet Access Request
					</h3>
				</div>
			</div>
			
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						<div class="form-group m-form__group row align-items-center">
							<div class="col-md-4">
								<div class="m-form__group m-form__group--inline">
									<div class="m-form__label">
										<label>
											Status:
										</label>
									</div>
									<div class="m-form__control">
										<select class="form-control m-bootstrap-select" id="m_form_status">
											<option value="">
														All
													</option>
													<option value="Pending">
														Pending
													</option>
													<option value="Approved">
														Approved
													</option>
													<option value="Denied">
														Denied
													</option>
													
													<option value="RemovedAccess">
														RemovedAccess
													</option>
													<option value="PENDING_TEAMLEAD">
														UNDER REVIEW TL
													</option>
										</select>
									</div>
								</div>
								<div class="d-md-none m--margin-bottom-10"></div>
							</div>

							<div class="col-md-4">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input" placeholder="Search..." id="generalSearch">
									<span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable -->
			<div class="m_datatable" id="approveInternet_request"></div>
			<!--end: Datatable -->
		</div>
	</div>
	<!--end Datatable-->

	<!--end::Portlet-->

	<!--end::Portlet-->
</div>


<!--Model For Approve,Deny With Comment-->

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document" style="width: 100% !important;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Response for Internet Access Request
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="hidden" [(ngModel)]="pendrive_id"  name="pendrive_id">
				</div>
				<div class="form-group m-form__group row">
					<label for="recipient-name" class="col-2 col-form-label">
						Comments
					</label>
					<div class="col-10">
						<textarea type='text' [(ngModel)]="comments" autocomplete="off" class="form-control m-input" name="comments"  placeholder="write comment"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" (click)="approveWithComment(internet_id)" class="btn btn-primary" data-dismiss="modal">
					Approve
				</button>
				<button type="button" (click)="denyWithComment(internet_id)" class="btn btn-primary" data-dismiss="modal">
					Deny
				</button>
				<button type="button" (click)="receiveWithComment(internet_id)" class="btn btn-primary" data-dismiss="modal">
					Remove Access
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>