<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" style="background-image: url(./assets/app/media/img//bg/2.jpg);height:955PX;" appunwraptag="">
	<div class="m-grid__item m-grid__item--fluid m-login__wrapper">
		<div class="m-login__container" style="margin: 80px auto;">
			<div class="m-login__logo">
				<a href="#">
					<img src="../../assets/app/media/img/logos/logo-big.png" align="middle">
				</a>
			</div>
			<div class="m-login__signin" style="margin-left: 30px;">
				<div class="m-login__head" style="font-size: 1.4rem;color: white;font-weight: 400;">
						Login to your account
				</div>
				<form class="m-login__form m-form" action="" style="margin: 0rem ;">
					<div class="form-group m-form__group has-danger" >
						<input  class="form-control m-input resizeinput"   
								type="text"
								id="inputDanger1"
								required 
								#uname="ngModel" [(ngModel)]="users.username"
								placeholder="Email" name="username" autocomplete="off">
						<div class="form-control-feedback" *ngIf="uname.touched && !uname.valid ">
							<div *ngIf="uname.errors.required">
									Username is required.
							</div>						
						</div>
					</div>
					<div class="form-group m-form__group has-danger">
						<input class="form-control m-input resizeinput"
								required 
								#password="ngModel" [(ngModel)]="users.password"
								(keyup)="clear(password.value)"
								(keypress)="checkCapsLock($event)" 
								autocomplete="off"
								type="password" placeholder="Password" name="password">
						<div class="form-control-feedback" *ngIf="password.touched && !password.valid ">
							<div *ngIf="password.errors.required">
									Password is required
							</div>
									
						</div>
						<div class="form-group" *ngIf="show"  style="color:red;">Caps Lock is ON.
						</div>		  
					</div>
					<div class="row m-login__form-sub">
						<div class="col m--align-left m-login__form-left">
							<label class="m-checkbox  m-checkbox--light">
								<input type="checkbox" name="remember">
								Remember me
								<span></span>
							</label>
						</div>
						<div class="col m--align-right m-login__form-right">
							<a href="javascript:;" id="m_login_forget_password" class="m-link">
								Forget Password ?
							</a>
						</div>
					</div>
					<div  *ngIf="validUSER" style="font-size: 20px;font-weight: 400;padding: 10px; color: red;">
							Enter Valid username and password
					</div>
					<div class="m-login__form-action" style="margin-top: 0px;">
						<button id="m_login_signin_submit" (click)="login()" class="btn m-btn--pill    btn-primary btn-lg m-btn m-btn--custom" style="background-color:#716aca;color:white; ">
							Sign In
						</button>
					</div>
				</form>	
			</div>

			<div class="m-login__forget-password">
				<div class="m-login__head">
					<h3 class="m-login__title">
						Forgotten Password ?
					</h3>
					<div class="m-login__desc">
						Enter your email to reset your password:
					</div>
				</div>
				<form class="m-login__form m-form" action="">
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
					</div>
					<div class="m-login__form-action">
						<button id="m_login_forget_password_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
							Request
						</button>
						&nbsp;&nbsp;
						<button id="m_login_forget_password_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
							Cancel
						</button>
					</div>
				</form>
			</div>
			<div class="m-login__account">
				<span class="m-login__account-msg">
					Don't have an account yet ?
				</span>
				&nbsp;&nbsp;
				<a href="/interviewform" id="m_login_signup" style="color: #c2acf4;font-size: 1.4rem;font-weight: 400;" class="m-link m-link--light m-login__account-link">
					Sign Up
				</a>
			</div>
		</div>
	</div>
</div>
