<div class="m-subheader" appunwraptag="" style="padding: 10px 30px 0 35px;">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
          Request form 
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
              IT Request
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Request Form
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content" style="width:100%;">

    <div  class="alert alert-brand m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert" style="margin-bottom: 10px !important;background-color:#d5d2f1;    width: 100%;">
      
        <div class="m-alert__text" style="color: black;font-weight: 400;" >
					Request for Access
        </div>
      </div>


  <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
    <div class="m-portlet__head headsize" >
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
            <i class="fa fa-key"></i>
          </span>
          <h3 class="m-portlet__head-text">
						Request for Access
          </h3>
        </div>
      </div>
     
    </div>
   
    <div class="m-portlet__body" style="padding-top: 5px;">     
      <div style="margin:3% 35% 3% 35%;font-size: 24px;font-weight: 300;">
            <div><a routerLink="/index/pendriveRequest" >Request For Pendrive</a></div>
            <div><a routerLink="/index/internetAccessReq" >Request For Internet Access</a></div>
            <div><a routerLink="/index/folderAccessReq" >Request For Folder Access</a></div>
            <div><a routerLink="/index/stationeryItemAccessReq" >Request For Stationery Item</a></div>
      </div>
    </div>
  </div>
  
</div>







